*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar-brand img{
    width: 155px;
}

h2{
    font-size: 40px;
}

.carousel-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
}

.img-desenvoltimento{
    height: 50px;
}
footer{
    background-color: #616161;
}

#quem-somos{
	background-color:red;
}
